Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

fix(apps): correct typos & app calls in benchmark script
  applications/benchmarks.sh
Due: none

feat(apps): add basic shell script for bench suite
  applications/benchmarks.sh
Due: none

refactor: rewrite dockerfile for new applciation crate
  applications.dockerfile
  benchmarks.dockerfile
Due: none

feat(apps): add 3D incremental Delaunay triangulation (#382)
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/delaunay.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: remove duplicate dependency key in manifest
  Cargo.toml
Due: cargo-clippy, cargo-test

chore: update lock files
  Cargo.lock
  flake.lock
Due: cargo-clippy, cargo-test

perf: add lto and reduce codegen units in release profile
  Cargo.toml
Due: cargo-clippy, cargo-test

fix(honeycomb): remove duplicated `build.rs` file
  honeycomb/src/build.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(apps): split bench script into multiple files
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay.sh
  applications/scripts/gridgen.sh
  applications/scripts/remesh.sh
Due: none

fix: format manifest file
  Cargo.toml
Due: cargo-clippy, cargo-test

feat(kernels): implement generic scale-based smoothing
  honeycomb-kernels/src/remeshing/mod.rs
  honeycomb-kernels/src/remeshing/relaxation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(apps): add subcommands for Laplace and Taubin smoothing in shift-vertices binary
  applications/shift_vertices/cli.rs
  applications/shift_vertices/internals.rs
  applications/shift_vertices/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(apps): rename benchmark script output files
  applications/scripts/delaunay.sh
  applications/scripts/remesh.sh
Due: none

feat(apps): add conditional spatial sort to Delaunay script
  applications/scripts/delaunay.sh
Due: none

fix(delaunay): set starting offset for dart allocation
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(delaunay): catch `StmError::Retry` from locate routine and use inconsistency errors instead
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(delaunay): remove remaining `unwrap` calls
  applications/incremental_delaunay/internals/cavity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(apps): split Delaunay bench script to extract best setup
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay_min.sh
  applications/scripts/delaunay_opt.sh
Due: none

wip(core): implement vertex ID caching
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): use Hilbert curve for spatial sort
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): add an internal vertex ID cache to `CMap3`
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
  honeycomb-core/src/cmap/dim3/structure.rs
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): add method to update vertex id cache manually
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(gridgen): add `enable_vertex_d_cache` option to `GridBuilder`
  applications/incremental_delaunay/internals/mod.rs
  honeycomb-kernels/src/grid_generation/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): remove print from new sews
  honeycomb-core/src/cmap/dim3/links/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(gridgen): pass vertex cache parameter to grid building routine
  honeycomb-kernels/src/grid_generation/internals.rs
  honeycomb-kernels/src/grid_generation/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): adjust Hilbert curve parameterization
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(apps): overlay-grid application
  Cargo.lock
  applications/Cargo.toml
  applications/overlay-grid/cli.rs
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/dualization.rs
  applications/overlay-grid/internals/helpers.rs
  applications/overlay-grid/internals/mod.rs
  applications/overlay-grid/internals/model.rs
  applications/overlay-grid/internals/regularisation.rs
  applications/overlay-grid/main.rs
  applications/scripts/benchmarks.sh
  applications/scripts/overlay-grid.sh
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): remove debug `else` block in 2-unlink
  honeycomb-core/src/cmap/dim3/links/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip(core): implement various fixes to links/sews
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): simplify `CMap3` internal sew implementations
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): rewrite `CMap3` 3-sews using `orbit_tx`
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

style(apps): improved imports style and adjusted error handling
  applications/overlay-grid/cli.rs
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/dualization.rs
  applications/overlay-grid/internals/helpers.rs
  applications/overlay-grid/internals/mod.rs
  applications/overlay-grid/internals/regularisation.rs
  applications/overlay-grid/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): simplify internals of `CMap2` sew methods
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
