Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check format
      # Only a check (vs actually formatting) to avoid mistakes
      - id: cargo-fmt
        name: check rust code formatting
        entry: cargo-fmt
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--check"]
      # Linting with clippy
      # Warnings are denied in the CI
      - id: cargo-clippy
        name: run clippy
        entry: cargo clippy
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
        args: ["--workspace"]
      # Passing tests in required
      - id: cargo-test
        name: run rust tests
        entry: cargo test
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
      # Check for spelling mistake
      - id: typos
        name: run spell checker
        entry: typos
        language: system
        pass_filenames: false
        always_run: true

chore: bump package version to `0.10.2`
  Cargo.lock
  Cargo.toml
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: exclude changelog from typos test
  .typos.toml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix: update `rand` version to fix compilation
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
Due: cargo-clippy, cargo-test

delaunay: print cavity size
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

count cavity extension
  Cargo.lock
  Cargo.toml
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/internals/sample.rs
Due: cargo-fmt, cargo-clippy, cargo-test

finish brio impl
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/internals/sample.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix 1st brio round construction
  applications/incremental_delaunay/internals/sample.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): update STM lib features
  Cargo.lock
  Cargo.toml
  honeycomb-core/Cargo.toml
Due: cargo-clippy, cargo-test

refactor(core): update STM lib features (#428)
  Cargo.lock
  Cargo.toml
  honeycomb-core/Cargo.toml
Due: cargo-clippy, cargo-test

add brio probability as CLI parameter
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/internals/sample.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

adjust Hilbert curve order computation
  applications/incremental_delaunay/internals/sample.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): replace seq/par insertion split with automatic work split and dispatch (#430)
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/internals/sample.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): increment `DART_BLOCK_START` by reservation size to reduce search time
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(apps): rewrite Delaunay bench script
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay.sh
  applications/scripts/delaunay_min.sh
  applications/scripts/delaunay_opt.sh
Due: none

use new `write_atomic` method for vid cache init
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(apps): rewrite Delaunay bench script (#434)
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay.sh
  applications/scripts/delaunay_min.sh
  applications/scripts/delaunay_opt.sh
Due: none

fix(delaunay): process clippy lints
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/sample.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): increment `DART_BLOCK_START` to reduce free dart search time (#433)
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/internals/sample.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: add `_tx` suffix to `CMap2` transactional link and sew methods
  applications/overlay-grid/internals/adaptive_grid.rs
  honeycomb-core/src/cmap/dim2/links/mod.rs
  honeycomb-core/src/cmap/dim2/sews/mod.rs
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim2/tests.rs
  honeycomb-kernels/src/cell_insertion/vertices.rs
  honeycomb-kernels/src/remeshing/collapse.rs
  honeycomb-kernels/src/remeshing/cut.rs
  honeycomb-kernels/src/remeshing/swap.rs
  honeycomb-kernels/src/triangulation/ear_clipping.rs
  honeycomb-kernels/src/triangulation/fan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: add `_tx` suffix to `CMap3` transactional link and sew methods
  applications/incremental_delaunay/internals/cavity.rs
  honeycomb-core/src/cmap/dim3/links/mod.rs
  honeycomb-core/src/cmap/dim3/sews/mod.rs
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: add `_tx` suffix to `CMap2` transactional embedding methods
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/helpers.rs
  applications/remesh/internals.rs
  honeycomb-core/src/cmap/dim2/embed.rs
  honeycomb-core/src/cmap/dim2/tests.rs
  honeycomb-kernels/src/cell_insertion/vertices.rs
  honeycomb-kernels/src/remeshing/collapse.rs
  honeycomb-kernels/src/remeshing/cut.rs
  honeycomb-kernels/src/remeshing/relaxation.rs
  honeycomb-kernels/src/remeshing/swap.rs
  honeycomb-kernels/src/remeshing/tests.rs
  honeycomb-kernels/src/skewness/mod.rs
  honeycomb-kernels/src/triangulation/ear_clipping.rs
  honeycomb-kernels/src/triangulation/fan.rs
  honeycomb-kernels/src/utils/routines.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: add `_tx` suffix to `CMap3` transactional embedding methods
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/delaunay.rs
  applications/incremental_delaunay/internals/mod.rs
  honeycomb-core/src/cmap/dim3/embed.rs
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-kernels/src/skewness/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: format
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/dualization.rs
  applications/overlay-grid/internals/regularisation.rs
  applications/remesh/internals.rs
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-kernels/src/grisubal/routines/clip.rs
  honeycomb-kernels/src/grisubal/routines/insert_new_edges.rs
  honeycomb-kernels/src/grisubal/tests.rs
  honeycomb-kernels/src/remeshing/capture.rs
  honeycomb-kernels/src/remeshing/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: remove empty file
  honeycomb-kernels/src/remeshing/anchoring.rs
  honeycomb-kernels/src/remeshing/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): add util method to set a vertex value
  honeycomb-core/src/attributes/collections.rs
  honeycomb-core/src/cmap/dim2/utils.rs
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: wrap in option to fix mismatched type
  honeycomb-core/src/attributes/collections.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(gridgen): use `set_vertex` to init from GPU data
  applications/generate_grid/gpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): remove unused const generic from `set_vertex`
  honeycomb-core/src/cmap/dim2/utils.rs
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(gridgen): use `set_vertex` to init in CPU routine
  honeycomb-kernels/src/grid_generation/internals.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): use `set_vertex` method in IO routines
  honeycomb-core/src/cmap/builder/io.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip: premake tets
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove free dart collection from cavity
  applications/incremental_delaunay/internals/cavity.rs
Due: cargo-fmt, cargo-clippy, cargo-test
