Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

feat(benches): add `thread-binding` feature with optional `hwlocality` dep
  Cargo.toml
  benches/Cargo.toml
Due: cargo-clippy, cargo-test

feat(benches): update CI and enable `thread-binding` feat by default
  benches/Cargo.toml
  benches/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(bench): add thread binding logic to the rayon threadpool
  benches/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: add `hwloc` install to CI
  .github/workflows/build.yml
Due: none

fix(benches): correct code when disabling `thread-binding` feat
  benches/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: disable `hwloc` when building on windows
  .github/workflows/build.yml
Due: none

fix(benches): fix thread pool logic when `thread-binding` is disabled
  benches/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: split *nix and windows build CIs
  .github/workflows/build.yml
  .github/workflows/build_windows.yml
Due: none

fix: correct mistakes in CI
  .github/workflows/build.yml
  .github/workflows/build_windows.yml
Due: none

fix: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  .github/workflows/build.yml
  .github/workflows/build_windows.yml
Due: none

fix: add missing lib to ubuntu CI
  .github/workflows/build.yml
Due: none

fix: add missing deps to test CI
  .github/workflows/rust-test.yml
Due: none

chore: fix clippy lints from Rust `1.87`
  honeycomb-kernels/src/cell_insertion/vertices.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add missing deps to clippy CI
  .github/workflows/rust-test.yml
Due: none

feat(benches): implement thread binding for `cut-edges` std threads backend
  benches/src/cut_edges.rs
  benches/src/main.rs
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

replace nix shell by flake
  flake.lock
  flake.nix
  shell.nix
Due: none

simplify flake
  flake.nix
Due: none

add profiling macros to enable/disable perf on code sections
  benches/Cargo.toml
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add macro calls in benchmarks
  benches/src/cut_edges.rs
  benches/src/main.rs
  benches/src/remesh.rs
  benches/src/shift.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fixes
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(clippy): process Rust `1.87` lints
  honeycomb-kernels/src/cell_insertion/vertices.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add hwlocality dep & gating feature
  Cargo.toml
  benches/Cargo.toml
Due: cargo-clippy, cargo-test

add utils function for thread binding
  benches/Cargo.toml
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add rayon threadpool init
  benches/src/main.rs
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

add std threads binding in `cut-edges`
  benches/src/cut_edges.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix clippy lint
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove feat from default
  benches/Cargo.toml
Due: cargo-clippy, cargo-test

disable --all-features in CI
  .github/workflows/build.yml
  .github/workflows/rust-test.yml
Due: none

feat(benches): add profiling hooks for `perf` section sampling (#336)
  benches/Cargo.toml
  benches/src/cut_edges.rs
  benches/src/main.rs
  benches/src/remesh.rs
  benches/src/shift.rs
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(benches): implement thread binding with `hwlocality` (#337)
  .github/workflows/build.yml
  .github/workflows/rust-test.yml
  Cargo.toml
  benches/Cargo.toml
  benches/src/cut_edges.rs
  benches/src/main.rs
  benches/src/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

update fflake description
  flake.nix
Due: none

split windows and *nix CIs
  .github/workflows/build_nix.yml
  .github/workflows/build_windows.yml
Due: none

set `bind-threads` as a default feature
  benches/Cargo.toml
Due: cargo-clippy, cargo-test

update last workflow
  .github/workflows/rust-test.yml
Due: none

chore: update CI to support `hwloc` builds (#338)
  .github/workflows/build_nix.yml
  .github/workflows/build_windows.yml
  .github/workflows/rust-test.yml
  benches/Cargo.toml
Due: cargo-clippy, cargo-test

chore: replace nix shell by flake (#334)
  flake.lock
  flake.nix
  shell.nix
Due: none

Revert "chore(deps): bump codecov/codecov-action from 5.4.2 to 5.4.3 (#339)"
  .github/workflows/coverage.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
