Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

chore: add `0.10.1` changelog content
  CHANGELOG.md
Due: none

tests(core): update version header in deserialization test
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update lock files
  Cargo.lock
  flake.lock
Due: cargo-clippy, cargo-test

chore: bump package versions to `0.10.1`
  Cargo.toml
  README.md
  user-guide/src/index.md
Due: cargo-clippy, cargo-test

feat(core): add vertex id cache attribute to `CMap3` and option to builder
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/dim3/structure.rs
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(gridgen): add vertex id cache option to `GridBuilder`
  honeycomb-kernels/src/grid_generation/internals.rs
  honeycomb-kernels/src/grid_generation/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): implement vertex ID caching updates in sews
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core, delaunay): replace std hash collections with `rustc-hash` versions
  .clippy.toml
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/delaunay.rs
  applications/incremental_delaunay/internals/mod.rs
  honeycomb-core/Cargo.toml
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/orbits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

wip: tally transaction event in delaunay triangulation
  Cargo.lock
  Cargo.toml
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add `.clippy.toml` file
  .clippy.toml
Due: none

refactor: replace all std hash collections with `rustc-hash` variants
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/delaunay.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/model.rs
  applications/overlay-grid/internals/regularisation.rs
  honeycomb-core/Cargo.toml
  honeycomb-core/src/attributes/manager.rs
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/dim2/basic_ops.rs
  honeycomb-core/src/cmap/dim2/orbits.rs
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/orbits.rs
  honeycomb-kernels/Cargo.toml
  honeycomb-kernels/src/grisubal/routines/clip.rs
  honeycomb-kernels/src/grisubal/routines/mod.rs
  honeycomb-kernels/src/grisubal/routines/pre_processing.rs
  honeycomb-kernels/src/grisubal/routines/process_intersecs_data.rs
  honeycomb-kernels/src/remeshing/capture.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: reject usage of disallowed types in clippy CI
  .github/workflows/test.yml
Due: none

fix: process remaining clippy lints
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: process clippy lints of tests
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-kernels/src/remeshing/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update `fast-stm` to `0.6.2`
  Cargo.lock
  Cargo.toml
Due: cargo-clippy, cargo-test

refactor(apps,kernels): replace pattern match + `retry` by `unwrap_or_retry`
  applications/incremental_delaunay/internals/mod.rs
  applications/remesh/internals.rs
  honeycomb-kernels/src/remeshing/collapse.rs
  honeycomb-kernels/src/remeshing/cut.rs
  honeycomb-kernels/src/utils/routines.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): use `TVar::write_atomic` in `set_betas` routines
  honeycomb-core/src/cmap/dim2/utils.rs
  honeycomb-core/src/cmap/dim3/utils.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(gridgen): add manual link search path for cuda libs to build script
  applications/build.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: expose sub-crate features in main-crate
  honeycomb-core/Cargo.toml
  honeycomb/Cargo.toml
Due: cargo-clippy, cargo-test

chore(deps): update `cudarc` to `0.19.0`
  Cargo.lock
  Cargo.toml
Due: cargo-clippy, cargo-test

chore(deps): update `rand` to `0.10.0-rc.8`
  Cargo.lock
  Cargo.toml
  applications/overlay-grid/internals/model.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: update `rand` version to fix compilation
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
Due: cargo-clippy, cargo-test

chore: update changelog
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
