Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check format
      # Only a check (vs actually formatting) to avoid mistakes
      - id: cargo-fmt
        name: check rust code formatting
        entry: cargo-fmt
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--check"]
      # Linting with clippy
      # Warnings are denied in the CI
      - id: cargo-clippy
        name: run clippy
        entry: cargo clippy
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
        args: ["--workspace"]
      # Passing tests in required
      - id: cargo-test
        name: run rust tests
        entry: cargo test
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
      # Check for spelling mistake
      - id: typos
        name: run spell checker
        entry: typos
        language: system
        pass_filenames: false
        always_run: true

fix: process clippy lints
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update flake
  flake.lock
Due: none

feat: add `taplo` config file for toml formatting
  .taplo.toml
Due: none

chore: format toml files
  .typos.toml
  Cargo.toml
  benches/Cargo.toml
  examples/Cargo.toml
  honeycomb-core/Cargo.toml
  honeycomb-kernels/Cargo.toml
  honeycomb-render/Cargo.toml
  honeycomb/Cargo.toml
Due: cargo-clippy, cargo-test

ci: add toml format check using `taplo`
  .github/workflows/rust-test.yml
Due: none

refactor: replace rust toolchain flake source
  flake.lock
  flake.nix
Due: none

wip: add `crane` to define flake checks
  .gitignore
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
Due: cargo-clippy, cargo-test

fix: move `pkg-config` to `nativeBuildInputs`
  flake.nix
Due: none

wip: add `crane` to define flake checks
  flake.nix
Due: none

feat: add lint, format, and test verification in flake checks
  flake.nix
Due: none

fix duplicate code introduced by merge
  flake.nix
Due: none

mention flake check in docs
  user-guide/src/project-structure/contributing.md
Due: none

update Cargo.lock
  Cargo.lock
Due: cargo-clippy, cargo-test

refactor: rewrite flake to include checks (#370)
  .gitignore
  Cargo.lock
  Cargo.toml
  flake.lock
  flake.nix
  user-guide/src/project-structure/contributing.md
Due: cargo-clippy, cargo-test

wip: add tet grid generation
  honeycomb-core/src/cmap/builder/grid.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core):: implement 3D tetrahedra grid generation
  honeycomb-core/src/cmap/builder/grid.rs
  honeycomb-core/src/cmap/builder/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: check number of cells generated by the 3D tet grid routine
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): improve even number check in grid generation routine
  honeycomb-core/src/cmap/builder/grid.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core, kernels): move grid generation routines to kernel crate
  benches/benches/builder/grid_size.rs
  benches/benches/builder/time.rs
  benches/benches/core/cmap2/basic_ops.rs
  benches/benches/core/cmap2/constructors.rs
  benches/benches/core/cmap2/fetch_icells.rs
  benches/benches/core/cmap2/link_and_sew.rs
  benches/benches/triangulate/quads.rs
  benches/src/cut_edges.rs
  benches/src/grid_gen.rs
  benches/src/shift.rs
  examples/examples/io/read.rs
  examples/examples/io/write.rs
  examples/examples/parallel_shift.rs
  examples/examples/render.rs
  honeycomb-core/src/attributes/tests.rs
  honeycomb-core/src/cmap/builder/mod.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/builder/tests.rs
  honeycomb-core/src/cmap/dim2/structure.rs
  honeycomb-core/src/cmap/dim2/tests.rs
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-core/src/cmap/mod.rs
  honeycomb-kernels/src/cell_insertion/tests.rs
  honeycomb-kernels/src/cell_insertion/vertices.rs
  honeycomb-kernels/src/grid_generation/internals.rs
  honeycomb-kernels/src/grid_generation/mod.rs
  honeycomb-kernels/src/grid_generation/tests.rs
  honeycomb-kernels/src/grisubal/mod.rs
  honeycomb-kernels/src/grisubal/tests.rs
  honeycomb-kernels/src/lib.rs
  honeycomb-kernels/src/remeshing/capture.rs
  honeycomb-kernels/src/remeshing/tests.rs
  honeycomb-kernels/src/skewness/tests.rs
  honeycomb-kernels/src/triangulation/tests.rs
  honeycomb/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: process remaining refactor errors
  benches/benches/core/cmap2/basic_ops.rs
  benches/benches/core/cmap2/link_and_sew.rs
  honeycomb-kernels/src/grid_generation/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

doc: add hex and tet generation illustrations
  honeycomb-kernels/src/grid_generation/mod.rs
  user-guide/src/images/hex.svg
  user-guide/src/images/tet.svg
Due: cargo-fmt, cargo-clippy, cargo-test

doc: change hex img to correct image
  user-guide/src/images/hex.svg
Due: none

wip: test nix in CI
  .github/workflows/build_nix.yml
  .github/workflows/test.yml
Due: none

fix
  benches/benches/core/cmap2/basic_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core, kernels): move grid generation to the kernel crate (#372)
  benches/benches/builder/grid_size.rs
  benches/benches/builder/time.rs
  benches/benches/core/cmap2/basic_ops.rs
  benches/benches/core/cmap2/constructors.rs
  benches/benches/core/cmap2/fetch_icells.rs
  benches/benches/core/cmap2/link_and_sew.rs
  benches/benches/triangulate/quads.rs
  benches/src/cut_edges.rs
  benches/src/grid_gen.rs
  benches/src/shift.rs
  examples/examples/io/read.rs
  examples/examples/io/write.rs
  examples/examples/parallel_shift.rs
  examples/examples/render.rs
  honeycomb-core/src/attributes/tests.rs
  honeycomb-core/src/cmap/builder/grid.rs
  honeycomb-core/src/cmap/builder/mod.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/builder/tests.rs
  honeycomb-core/src/cmap/dim2/structure.rs
  honeycomb-core/src/cmap/dim2/tests.rs
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-core/src/cmap/mod.rs
  honeycomb-kernels/src/cell_insertion/tests.rs
  honeycomb-kernels/src/cell_insertion/vertices.rs
  honeycomb-kernels/src/grid_generation/internals.rs
  honeycomb-kernels/src/grid_generation/mod.rs
  honeycomb-kernels/src/grid_generation/tests.rs
  honeycomb-kernels/src/grisubal/mod.rs
  honeycomb-kernels/src/grisubal/tests.rs
  honeycomb-kernels/src/lib.rs
  honeycomb-kernels/src/remeshing/capture.rs
  honeycomb-kernels/src/remeshing/tests.rs
  honeycomb-kernels/src/skewness/tests.rs
  honeycomb-kernels/src/triangulation/tests.rs
  honeycomb/src/lib.rs
  user-guide/src/images/hex.svg
  user-guide/src/images/tet.svg
Due: cargo-fmt, cargo-clippy, cargo-test

wip: move bench & examples to `applications` crate
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
  applications/cut_edges/cli.rs
  applications/cut_edges/dispatch.rs
  applications/cut_edges/main.rs
  applications/generate_grid/cli.rs
  applications/generate_grid/main.rs
  applications/grisubal/main.rs
  applications/lib.rs
  applications/remesh/main.rs
  applications/shift_vertices/main.rs
  benches/src/cli.rs
  benches/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: covert benchmarks into application binaries
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
  applications/cut_edges/main.rs
  applications/generate_grid/main.rs
  applications/grisubal/cli.rs
  applications/lib.rs
  applications/remesh/cli.rs
  applications/remesh/internals.rs
  applications/remesh/main.rs
  applications/shift_vertices/cli.rs
  applications/shift_vertices/internals.rs
  applications/shift_vertices/main.rs
  applications/triangulate/cli.rs
  applications/triangulate/internals.rs
  applications/triangulate/main.rs
  benches/Cargo.toml
  benches/README.md
  benches/benches/builder/grid_size.rs
  benches/benches/builder/time.rs
  benches/benches/grisubal/grid_size.rs
  benches/benches/grisubal/time.rs
  benches/build.rs
  benches/builder.py
  benches/grisubal.py
  benches/grisubal_plot.py
  benches/src/cli.rs
  benches/src/cut_edges.rs
  benches/src/grid_gen.rs
  benches/src/grisubal.rs
  benches/src/lib.rs
  benches/src/main.rs
  benches/src/shift.rs
  benches/src/utils.rs
  honeycomb-core/benches/cmap2/basic_ops.rs
  honeycomb-core/benches/cmap2/constructors.rs
  honeycomb-core/benches/cmap2/fetch_icells.rs
  honeycomb-core/benches/cmap2/link_and_sew.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor!: remove standalone example binaries
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/examples/io/read.rs
  examples/examples/io/write.rs
  examples/examples/kernels/grisubal.rs
  examples/examples/render.rs
  examples/quads.vtk
  examples/shape.vtk
  examples/src/lib.rs
  user-guide/src/usage/attributes.md
  user-guide/src/usage/serialization.md
  user-guide/src/usage/snippets/attribute_impl.rs
  user-guide/src/usage/snippets/attribute_usage.rs
  user-guide/src/usage/snippets/io.rs
  user-guide/src/usage/snippets/parallel_cut.rs
  user-guide/src/usage/snippets/parallel_shift.rs
  user-guide/src/usage/stm.md
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add missing import
  applications/triangulate/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: remove unused `rand` dep of the `applications` crate
  Cargo.lock
  Cargo.toml
  applications/Cargo.toml
Due: cargo-clippy, cargo-test

fix: update path to input file in remesh test
  honeycomb-kernels/src/remeshing/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: update gitignore to correctly add the `shape.vtk` file
  .gitignore
  applications/shape.vtk
Due: none

refactor: remove redundant application code
  applications/cut_edges/internals.rs
  applications/cut_edges/main.rs
  applications/generate_grid/main.rs
  applications/grisubal/main.rs
  applications/lib.rs
  applications/remesh/internals.rs
  applications/remesh/main.rs
  applications/shift_vertices/main.rs
  applications/triangulate/internals.rs
  applications/triangulate/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test
