Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

chore: process clippy lints
  applications/incremental_delaunay/internals/cavity.rs
  applications/shift_vertices/internals.rs
  applications/shift_vertices_3d/internals.rs
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-kernels/src/triangulation/ear_clipping.rs
  honeycomb-kernels/src/triangulation/fan.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump package versions to 0.12.0 and update changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  honeycomb-core/src/cmap/builder/tests.rs
  user-guide/src/index.md
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update flake
  flake.lock
Due: none

chore: update cargo lockfile
  Cargo.lock
Due: cargo-clippy, cargo-test

feat\!: add access controller system for adjustable TM usage
  CHANGELOG.md
  honeycomb-core/src/attributes/collections.rs
  honeycomb-core/src/attributes/manager.rs
  honeycomb-core/src/attributes/traits.rs
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/components/access.rs
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/components/mod.rs
  honeycomb-core/src/cmap/dim2/basic_ops.rs
  honeycomb-core/src/cmap/dim2/embed.rs
  honeycomb-core/src/cmap/dim2/links/mod.rs
  honeycomb-core/src/cmap/dim2/links/one.rs
  honeycomb-core/src/cmap/dim2/links/two.rs
  honeycomb-core/src/cmap/dim2/orbits.rs
  honeycomb-core/src/cmap/dim2/serialize.rs
  honeycomb-core/src/cmap/dim2/sews/mod.rs
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim2/structure.rs
  honeycomb-core/src/cmap/dim2/tests.rs
  honeycomb-core/src/cmap/dim2/utils.rs
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/embed.rs
  honeycomb-core/src/cmap/dim3/links/mod.rs
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
  honeycomb-core/src/cmap/dim3/orbits.rs
  honeycomb-core/src/cmap/dim3/serialize.rs
  honeycomb-core/src/cmap/dim3/sews/mod.rs
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
  honeycomb-core/src/cmap/dim3/structure.rs
  honeycomb-core/src/cmap/dim3/tests.rs
  honeycomb-core/src/cmap/dim3/utils.rs
  honeycomb-core/src/cmap/mod.rs
  honeycomb/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

expose AC parameter in kernels
  honeycomb-kernels/src/cell_insertion/vertices.rs
  honeycomb-kernels/src/grid_generation/internals.rs
  honeycomb-kernels/src/grid_generation/mod.rs
  honeycomb-kernels/src/grid_generation/tests.rs
  honeycomb-kernels/src/grisubal/mod.rs
  honeycomb-kernels/src/grisubal/routines/clip.rs
  honeycomb-kernels/src/grisubal/routines/compute_intersecs.rs
  honeycomb-kernels/src/grisubal/routines/compute_new_edges.rs
  honeycomb-kernels/src/grisubal/routines/insert_intersecs.rs
  honeycomb-kernels/src/grisubal/routines/insert_new_edges.rs
  honeycomb-kernels/src/grisubal/routines/process_intersecs_data.rs
  honeycomb-kernels/src/remeshing/capture.rs
  honeycomb-kernels/src/remeshing/collapse.rs
  honeycomb-kernels/src/remeshing/cut.rs
  honeycomb-kernels/src/remeshing/relaxation.rs
  honeycomb-kernels/src/remeshing/swap.rs
  honeycomb-kernels/src/remeshing/tests.rs
  honeycomb-kernels/src/skewness/mod.rs
  honeycomb-kernels/src/skewness/tests.rs
  honeycomb-kernels/src/triangulation/ear_clipping.rs
  honeycomb-kernels/src/triangulation/fan.rs
  honeycomb-kernels/src/utils/routines.rs
Due: cargo-fmt, cargo-clippy, cargo-test

expose AC parameter in remesh kernel
  applications/lib.rs
  applications/remesh/internals.rs
  applications/remesh/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
