Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

refactor(core): call `CMap` links instead of core components links in sews
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: update macos intel runner to latest image
  .github/workflows/build_nix.yml
Due: none

ci: fix condition in dep install
  .github/workflows/build_nix.yml
Due: none

ci: update second workflow
  .github/workflows/build_nix.yml
Due: none

ci: update macos intel runner to latest image (#402)
  .github/workflows/build_nix.yml
Due: none

refactor(apps): split Delaunay bench script to extract best setup
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay_min.sh
  applications/scripts/delaunay_opt.sh
Due: none

refactor(delaunay): use Hilbert curve for spatial sort
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): adjust Hilbert curve parameterization
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): rewrite `CMap3` 3-sews using `orbit_tx`
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): simplify internals of `CMap2` sew methods
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): simplify `CMap3` internal sew implementations
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(apps): atomically retries
  applications/overlay-grid/internals/adaptive_grid.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(apps): removed outdated comment with typo
  applications/overlay-grid/internals/dualization.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(apps): add overlay-grid-based quad-mesh generation algorithm (#399)
  Cargo.lock
  applications/Cargo.toml
  applications/overlay-grid/cli.rs
  applications/overlay-grid/internals/adaptive_grid.rs
  applications/overlay-grid/internals/dualization.rs
  applications/overlay-grid/internals/helpers.rs
  applications/overlay-grid/internals/mod.rs
  applications/overlay-grid/internals/model.rs
  applications/overlay-grid/internals/regularisation.rs
  applications/overlay-grid/main.rs
  applications/scripts/benchmarks.sh
  applications/scripts/overlay-grid.sh
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add `anyhow` as dev dependency for tests
  Cargo.lock
  Cargo.toml
  honeycomb-core/Cargo.toml
Due: cargo-clippy, cargo-test

tests: reorganize `CMap3` test module and add empty new tests
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): add missing condition in `CMap3::is_free_tx`
  honeycomb-core/src/cmap/dim3/basic_ops.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: format manifest file
  honeycomb-core/Cargo.toml
Due: cargo-clippy, cargo-test

tests(core): add open face 3-sew test
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

tests(core): complete 1-sew `CMap3` tests
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): add B2oB3 composition to 0-cell orbit computation
  honeycomb-core/src/cmap/dim3/basic_ops.rs
  honeycomb-core/src/cmap/dim3/orbits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

tests(core): complete 2-sew `CMap3` tests
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): handle STM error properly in 2-sew geometry check
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

tests(core): complete 3-sew `CMap3` tests
  honeycomb-core/src/cmap/dim3/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(core): make `CMap3::orbit` and `CMap3::orbit_tx` consistent
  honeycomb-core/src/cmap/dim3/orbits.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update lock files
  Cargo.lock
  flake.lock
Due: cargo-clippy, cargo-test

chore: bump package versions to `0.10.1`
  Cargo.toml
  README.md
  user-guide/src/index.md
Due: cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
