Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

cargo-fmt:
  name: check rust code formatting
  entry: cargo-fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy:
  name: run clippy
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --workspace

cargo-test:
  name: run rust tests
  entry: cargo test
  language: rust
  pass_filenames: false

chore: update .gitignore
  .gitignore
Due: none

chore(deps): upgrade `fast-stm` to `0.7.0`
  Cargo.lock
  Cargo.toml
  honeycomb-core/src/attributes/collections.rs
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/dim2/structure.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): return unlinked image dart ID in `unlink` method
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/dim2/links/mod.rs
  honeycomb-core/src/cmap/dim2/links/one.rs
  honeycomb-core/src/cmap/dim2/links/two.rs
  honeycomb-core/src/cmap/dim3/links/mod.rs
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): return unlinked image dart ID in `unsew` methods
  honeycomb-core/src/cmap/dim2/sews/mod.rs
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim3/sews/mod.rs
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(deps): upgrade `fast-stm` to `0.7.0` (#449)
  Cargo.lock
  Cargo.toml
  honeycomb-core/src/attributes/collections.rs
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/dim2/structure.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

ci: build doc on PR, deploy only on push to master
  .github/workflows/doc.yml
Due: none

ci: build doc on PR, deploy only on push to master (#451)
  .github/workflows/doc.yml
Due: none

chore: move around comments in `CMap3`'s sews
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(core): inline `link` operation in `CMap3` sew internals (#447)
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(delaunay): reserve premade tetrahedra darts in main insertion loop
  applications/incremental_delaunay/internals/cavity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(delaunay): reserve premade tets' darts in main insertion loop (#459)
  applications/incremental_delaunay/internals/cavity.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update `fast-stm` to `0.7.1`
  Cargo.toml
Due: cargo-clippy, cargo-test

fix: update lockfile
  Cargo.lock
Due: cargo-clippy, cargo-test

chore: update `fast-stm` to `0.7.1` (#460)
  Cargo.lock
  Cargo.toml
Due: cargo-clippy, cargo-test

chore: update changelog
  CHANGELOG.md
Due: none

chore: bump package versions to `0.11.0`
  Cargo.lock
  Cargo.toml
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

0.11.0 release (#461)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

remove redundant reads and update doc
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/dim2/links/mod.rs
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim3/links/mod.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): return unlinked image dart ID in `unlink` an `unsew` methods (#450)
  honeycomb-core/src/cmap/components/betas.rs
  honeycomb-core/src/cmap/dim2/links/mod.rs
  honeycomb-core/src/cmap/dim2/links/one.rs
  honeycomb-core/src/cmap/dim2/links/two.rs
  honeycomb-core/src/cmap/dim2/sews/mod.rs
  honeycomb-core/src/cmap/dim2/sews/one.rs
  honeycomb-core/src/cmap/dim2/sews/two.rs
  honeycomb-core/src/cmap/dim3/links/mod.rs
  honeycomb-core/src/cmap/dim3/links/one.rs
  honeycomb-core/src/cmap/dim3/links/three.rs
  honeycomb-core/src/cmap/dim3/links/two.rs
  honeycomb-core/src/cmap/dim3/sews/mod.rs
  honeycomb-core/src/cmap/dim3/sews/one.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
  honeycomb-core/src/cmap/dim3/sews/two.rs
Due: cargo-fmt, cargo-clippy, cargo-test

doc: update lib versions and add reference to IMR paper
  README.md
  docs/index.html
  user-guide/src/index.md
Due: none

doc: update lib versions and add reference to IMR paper (#463)
  README.md
  docs/index.html
  user-guide/src/index.md
Due: none

chore: update `flake.lock`
  flake.lock
Due: none

chore: update `Cargo.lock`
  Cargo.lock
Due: cargo-clippy, cargo-test

refactor: update benchmark script to increase problem sizes
  applications/scripts/delaunay.sh
  applications/scripts/remesh.sh
Due: none

adjust problem sizes again
  applications/scripts/benchmarks.sh
  applications/scripts/delaunay.sh
  applications/scripts/remesh.sh
Due: none

add sequential Delaunay suite
  applications/scripts/delaunay.sh
Due: none

fix(gridgen): convert vertex type passed to `set_vertex`
  applications/generate_grid/gpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(delaunay): rebuild tet from unused elements mid-round if all have been used
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(delaunay): add CLI option to disable mid-round tet rebuild
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): substract mid-round tet rebuild time from round time
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(delaunay): cleanup code of the premade tets
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update nix flake
  flake.lock
Due: none

chore: update cargo lockfile
  Cargo.lock
Due: cargo-clippy, cargo-test

fix: process new clippy lints
  applications/incremental_delaunay/internals/sample.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

uncomment grid gen script
  applications/scripts/benchmarks.sh
Due: none

refactor: update benchmark script to increase problem sizes (#475)
  applications/scripts/delaunay.sh
  applications/scripts/remesh.sh
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: (Cargo.(toml|lock)|\.rs$)
  cargo-test: any of: (Cargo.(toml|lock)|\.rs$)
