Repository LIHPC-Computational-Geometry/honeycomb: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Check format
      # Only a check (vs actually formatting) to avoid mistakes
      - id: cargo-fmt
        name: check rust code formatting
        entry: cargo-fmt
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--check"]
      # Linting with clippy
      # Warnings are denied in the CI
      - id: cargo-clippy
        name: run clippy
        entry: cargo clippy
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
        args: ["--workspace"]
      # Passing tests in required
      - id: cargo-test
        name: run rust tests
        entry: cargo test
        language: rust
        files: (Cargo.(toml|lock)|\.rs$)
        pass_filenames: false
      # Check for spelling mistake
      - id: typos
        name: run spell checker
        entry: typos
        language: system
        pass_filenames: false
        always_run: true

feat(delaunay): rebuild tet from unused elements mid-round if all have been used
  applications/incremental_delaunay/internals/cavity.rs
  applications/incremental_delaunay/internals/mod.rs
  honeycomb-core/src/cmap/dim3/structure.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(delaunay): substract mid-round tet rebuild time from round time
  applications/incremental_delaunay/internals/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(delaunay): add CLI option to disable mid-round tet rebuild
  applications/incremental_delaunay/cli.rs
  applications/incremental_delaunay/internals/mod.rs
  applications/incremental_delaunay/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(gridgen): convert vertex type passed to `set_vertex`
  applications/generate_grid/gpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: process new clippy lints
  applications/incremental_delaunay/internals/sample.rs
  honeycomb-core/src/cmap/dim3/sews/three.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update cargo lockfile
  Cargo.lock
Due: cargo-clippy, cargo-test

chore: update nix flake
  flake.lock
Due: none

doc: update CMap and components pages
  user-guide/book.toml
  user-guide/src/definitions/cmaps.md
  user-guide/src/definitions/components.md
  user-guide/src/images/2map.svg
  user-guide/src/images/3map.svg
  user-guide/src/images/3meshmap.svg
  user-guide/src/images/bg_hcmap_example.svg
  user-guide/src/images/components.svg
  user-guide/src/images/meshmap.svg
Due: none

doc: update cell representation page
  user-guide/src/definitions/cells.md
  user-guide/src/images/icells.svg
  user-guide/src/images/orbit-bfs.svg
Due: none

doc: update embedding page and remove old illustrations
  user-guide/src/definitions/embedding.md
  user-guide/src/images/bg_beta1.svg
  user-guide/src/images/bg_beta2.svg
  user-guide/src/images/bg_cmap_example.svg
  user-guide/src/images/bg_darts.svg
  user-guide/src/images/bg_embed.svg
  user-guide/src/images/bg_grid.svg
  user-guide/src/images/bg_grid_tri.svg
  user-guide/src/images/bg_map.svg
  user-guide/src/images/bg_map_with_null.svg
  user-guide/src/images/bg_orbit_edge.svg
  user-guide/src/images/bg_orbit_face.svg
  user-guide/src/images/bg_orbit_vertex.svg
  user-guide/src/images/embedding-sew.png
  user-guide/src/images/embedding.png
Due: none

doc: update misc ops page
  user-guide/src/SUMMARY.md
  user-guide/src/definitions/embedding.md
  user-guide/src/definitions/insertion.md
  user-guide/src/definitions/ops.md
  user-guide/src/images/layout.svg
Due: none

wip: update doc sew page
  user-guide/src/definitions/sews.md
  user-guide/src/images/1sew.svg
  user-guide/src/images/2sew.svg
  user-guide/src/images/3sewable.svg
Due: none

doc: update sew page
  user-guide/src/definitions/sews.md
Due: none

doc: update content of the book (#485)
  user-guide/book.toml
  user-guide/src/SUMMARY.md
  user-guide/src/definitions/cells.md
  user-guide/src/definitions/cmaps.md
  user-guide/src/definitions/components.md
  user-guide/src/definitions/embedding.md
  user-guide/src/definitions/insertion.md
  user-guide/src/definitions/ops.md
  user-guide/src/definitions/sews.md
  user-guide/src/images/1sew.svg
  user-guide/src/images/2map.svg
  user-guide/src/images/2sew.svg
  user-guide/src/images/3map.svg
  user-guide/src/images/3meshmap.svg
  user-guide/src/images/3sewable.svg
  user-guide/src/images/bg_beta1.svg
  user-guide/src/images/bg_beta2.svg
  user-guide/src/images/bg_cmap_example.svg
  user-guide/src/images/bg_darts.svg
  user-guide/src/images/bg_embed.svg
  user-guide/src/images/bg_grid.svg
  user-guide/src/images/bg_grid_tri.svg
  user-guide/src/images/bg_hcmap_example.svg
  user-guide/src/images/bg_map.svg
  user-guide/src/images/bg_map_with_null.svg
  user-guide/src/images/bg_orbit_edge.svg
  user-guide/src/images/bg_orbit_face.svg
  user-guide/src/images/bg_orbit_vertex.svg
  user-guide/src/images/components.svg
  user-guide/src/images/embedding-sew.png
  user-guide/src/images/embedding.png
  user-guide/src/images/icells.svg
  user-guide/src/images/layout.svg
  user-guide/src/images/meshmap.svg
  user-guide/src/images/orbit-bfs.svg
Due: none

doc: update STM page
  user-guide/src/definitions/stm.md
  user-guide/src/images/attribute_merge.svg
  user-guide/src/images/cutedge-resolution.svg
  user-guide/src/images/cutedge-steps-with-ops.svg
Due: none

doc: remove unused images
  user-guide/src/images/grisubal/input.svg
  user-guide/src/images/grisubal/insertion.svg
  user-guide/src/images/grisubal/intersec_multiple.svg
  user-guide/src/images/grisubal/intersec_single.svg
  user-guide/src/images/grisubal/intersec_types.svg
  user-guide/src/images/grisubal/left_right_darts.svg
  user-guide/src/images/grisubal/step1.svg
  user-guide/src/images/grisubal/step2.svg
  user-guide/src/images/grisubal/step3.svg
Due: none

doc: update link to IMR paper
  docs/index.html
  user-guide/src/definitions/stm.md
  user-guide/src/index.md
Due: none

doc: add `Resources` page
  user-guide/src/SUMMARY.md
  user-guide/src/definitions/resources.md
Due: none

doc: update existing dev guide pages
  user-guide/src/definitions/resources.md
  user-guide/src/dev-guide/contributing.md
  user-guide/src/dev-guide/library.md
  user-guide/src/dev-guide/project-structure.md
Due: none

doc: add `Applications` page
  user-guide/src/SUMMARY.md
  user-guide/src/dev-guide/apps.md
  user-guide/src/images/cutedge-attributes.svg
  user-guide/src/images/grid-gen.svg
Due: none

doc: update figure list
  user-guide/src/dev-guide/apps.md
  user-guide/src/images/all-remesh-ops.svg
  user-guide/src/images/hex.svg
  user-guide/src/images/remesh.svg
  user-guide/src/images/remesh_loop.svg
  user-guide/src/images/tet.svg
Due: none

doc: proofread examples
  user-guide/src/examples/attributes.md
  user-guide/src/examples/serialization.md
  user-guide/src/examples/smoothing.md
  user-guide/src/examples/snippets/parallel_shift.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): support Aqabus `inp` file for 3D hex mesh init
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(core): remove `inp` file init test using external files
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

doc(core): add info on private items of the `inp` file init impl
  honeycomb-core/src/cmap/builder/io.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(core): clarify `inp` builder error message
  honeycomb-core/src/cmap/builder/io.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(kernels): implement 3D vertex smooth
  applications/Cargo.toml
  applications/lib.rs
  applications/shift_vertices_3d/cli.rs
  applications/shift_vertices_3d/internals.rs
  applications/shift_vertices_3d/main.rs
  honeycomb-kernels/src/remeshing/mod.rs
  honeycomb-kernels/src/remeshing/relaxation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): support Aqabus `inp` file for 3D hex mesh init (#493)
  honeycomb-core/src/cmap/builder/io.rs
  honeycomb-core/src/cmap/builder/structure.rs
  honeycomb-core/src/cmap/builder/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(kernel, apps): implement 3D vertex smooth (#499)
  applications/Cargo.toml
  applications/lib.rs
  applications/shift_vertices_3d/cli.rs
  applications/shift_vertices_3d/internals.rs
  applications/shift_vertices_3d/main.rs
  honeycomb-kernels/src/remeshing/mod.rs
  honeycomb-kernels/src/remeshing/relaxation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update flake
  flake.lock
Due: none
